.descriptionContainer {
    width: var(--w100);
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--venue-info-text-color);
    margin-top: 1.5rem;
}