.cardDetailsBtn {
    padding: 0.5rem 0.8rem;
    background-color: var(--main-background);
    border: 1px solid var(--general-btn-border-color);
    border-radius: 8px;
    color: var(--main-text-color);
    text-decoration: none;
}

@media (min-width: 768px) {
    .cardDetailsBtn {
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }

    .cardDetailsBtn:hover {
        background-color: var(--white-background);
        color: var(--black-color);
    }
}