.searchContainer {

}

.loopSvg {
    position: relative;
}

.loopSvg > img {
    width: 20px;
    height: 20px;
}

.inputContainer {
    font-size: 1.1rem;
}

.input {
    width: 165px;
    height: 40px;
    background-color: var(--black-background);
    border-left: none;
    border-top: 1px solid var(--grey-color-2);
    border-right: 1px solid var(--grey-color-2);
    border-bottom: 1px solid var(--grey-color-2);
    border-radius: 5px;
    padding: 0 0.7rem;
    color: var(--main-text-color);
    font-size: inherit;
    outline: none;
}