.header {
    width: var(--w100);
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    height: 3.7rem;
    justify-content: space-between;
    padding: 0 var(--padding-gap-1);
    flex-shrink: 0;
}

.scope {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.span {
    width: 30px;
    height: 100%;
    color: white;
}