.header {
    width: var(--w100);
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    height: 4rem;
    justify-content: space-between;
    padding: 0 var(--padding-gap-1);
}
