.nameContainer {
    width: var(--w100);
    display: flex;
    justify-content: center;
}

.name {
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px var(--orange-color-1), 2px 2px 1px var(--orange-color-1);
}